h1 {
        color : orange;
        font-size : 60px;
        font-weight : 900;
        font-style : normal;
}
body {
        color : orange;
        background-color : brown;
        font-size : 18px;
}
h2{
        color : white;
}
